<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Emilia Cole | Music</title>
  <link rel="stylesheet" href="/css/music.css">
  <script src="https://kit.fontawesome.com/f12d5ec281.js" crossorigin="anonymous"></script>
</head>

<body class="music">
  <header class="header__horizontal">
    <nav class="header__horizontal--menu">
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/music">music</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
    </nav>
    <nav class="header__horizontal--redes">
      <a href=""><i class="fa-brands fa-twitter"></i></a>
      <a href=""><i class="fa-brands fa-facebook-square"></i></a>
      <a href=""><i class="fa-brands fa-spotify"></i></a>
      <a href=""><i class="fa-brands fa-apple"></i></a>
      <a href=""><i class="fa-brands fa-amazon"></i></a>
      <a href=""><i class="fa-brands fa-instagram-square"></i></a>
    </nav>
  </header>
  <main>
    <h1>MUSIC</h1>
  </main>
</body>

</html>