/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Work Sans', sans-serif; */

:root {
  --tipografiaTitulos: 'Raleway';
  --tipografiaEmilia: 'Work Sans';
  --tipografiaGeneral: 'Open Sans';
}

body {
  font-family: var(--tipografiaGeneral);
  font-weight: 300;
}

h1 {
  font-family: var(--tipografiaTitulos);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 73px;
}

li {
  list-style: none;
}

ul,
ol {
  padding-left: 0%;
}

a {
  text-decoration: none;
  color: #000;
}