header a {
  text-transform: uppercase;
  line-height: 30px;
}

.header__vertical {
  margin-left: 30px;
}

.header__horizontal {
  text-align: right;
}

.header__horizontal--menu {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2px;
  margin-top: 30px;
}

.header__horizontal--menu ul li {
  display: inline;
  background-color: rgba(255, 255, 255, 0.5);
}

.header__horizontal--redes {
  margin-top: 10px;
}